.box {
  flex-basis: 200px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.box:hover h2 {
  transform: translateY(0);
}

.box h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  min-height: 70;
  background-color: rgba(255, 255, 255, 0.397);
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: 0.4s;
}

.box img {
  width: 100%;
}
